.row {
  display: flex;
  flex-wrap: wrap;
}

.column-half {
  flex-basis: 50%;
}

.column-fifty {
  flex-basis: 50%;
}

.column-full {
  flex-basis: 100%;
}

.column-one-seventh {
  flex-basis: calc(100%/7);
}

.column-seven-twelfth {
  flex-basis: calc(700%/12);
}

.column-one-twelfth {
  flex-basis: calc(100%/12);
}

.column-five-twelfth {
  flex-basis: calc(500%/12);
}

.column-quarter {
  flex-basis: calc(100%/4);
}

.column-three-quarters {
  flex-basis: calc(300%/4);
}

.column-one-third {
  flex-basis: calc(100%/3);
}

.align-items {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-around;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
}

.end {
  display: flex;
  justify-content: flex-end;
}

.space-end {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}
