.container {
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-half {
  flex-basis: 50%;
}

.column-full {
  flex-basis: 100%;
}

.column-ten-twelfths {
  flex-basis: calc(1000%/12);
}

.column-one-twelfth {
  flex-basis: calc(100%/12);
}

.column-quarter {
  flex-basis: calc(100%/4);
}

.column-one-third {
  flex-basis: calc(100%/3);
}

.column-two-third {
  flex-basis: 100%;
}

.column-fifty-five,
.column-forty-five {
  flex-basis: 100%;
}

.column-one-half,
.column-third {
  flex-basis: 100%;
}

.align-items {
  display: flex;
  align-items: center;
}

.end {
  display: flex;
  justify-content: flex-end;
}

.space-end {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.hidden {
  display: none;
  opacity: 0;
}

.align-start {
  align-content: flex-start;
}

.flex-row {
  display: flex;
  margin: 0 auto;
}
