body {
  background-color: #f6f6f6;
}

header {
  background-color: white;
  box-shadow: 0 1px 2px 0 #00000040;
  position: fixed;
  width: 100%;
  top: 0;
}

nav {
  font-family: Arvo, sans-serif;
  color: #4dc3b9;
  padding: 1rem;
  height: 64px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h2 {
  font-family: "Varela Round", sans-serif;
  font-size: 1.375rem;
  color: #816f59;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 2rem;
}

.nav-container {
  margin: 0 auto;
}

.hidden {
  display: none;
}

.leaf-icon {
  width: 50px;
  margin-right: 0.5rem;
}

.nav-home {
  font-size: 1rem;
  padding-left: 0.75rem;
  color: #4dc3b9ad;
}

.nav-icon {
  font-size: 1.75rem;
  color: #4dc3b9ad;
  margin-top: 0.5rem;
}

.house-outline {
  -webkit-text-stroke: 2.5px #4dc3b9ad;
  color: white;
}

.pop-section {
  margin-top: 5rem;
  padding-top: 1rem;
}

.pop-up-container {
  text-align: center;
  margin: 0 1rem 1rem;
  height: 97px;
  width: 292px;
  left: 42px;
  top: 87px;
  border-radius: 8px;
  background-color: #4dc3b959;
  box-shadow: 0 1px 2px 0 #00000040;
}

.pop-x {
  color: #816f59a6;
  font-size: 20px;
  padding-top: 0.3rem;
}

.pop-icon {
  width: 80px;
  margin: 0.5rem;
}

.pop-home-icon {
  width: 75px;
  margin: 1rem 0.5rem 0.5rem;
}

.margin-top {
  margin-top: 6rem;
}

.pop-text,
.top-link,
.load-link {
  color: #575757;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
}

.pop-text {
  margin-top: 1.3rem;
  line-height: 1.5rem;
}

.extra-margin {
  margin-top: 2rem;
}

.species-header,
.favorites-header {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
  color: #575757;
}

.header-container {
  width: 150px;
}

.villager-icon {
  width: 90px;
  transition: transform 0.3s ease-in;
}

.villager-icon:hover {
  transform: scale3d(1.2, 1.2, 1.2);
}

.center {
  text-align: center;
}

.villager-name {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  margin-top: 0;
  font-size: 1.125rem;
}

.top-link {
  padding-top: 1.75rem;
}

.villager-section {
  border-bottom: 1px solid #c7c7c7;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.load-link {
  float: right;
  margin: 1rem;
}

.load-link:hover {
  cursor: pointer;
}

.overlay {
  background-color: rgba(49, 49, 49, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#cancel {
  font-size: 1.75rem;
  color: #b0b0b0;
  padding: 0.5rem 0 0 1rem;
}

#favorite-icon {
  font-size: 1.75rem;
  padding: 0.5rem 1rem 0 0;
}

.empty-heart {
  color: #b0b0b0;
}

.liked-heart {
  color: #2ab5cf;
}

.added-favorites {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #f6f6f6;
  position: fixed;
  top: 4rem;
}

.villager-info {
  top: 129px;
  position: fixed;
  width: 350px;
  height: 555px;
  background-color: #fafafa;
  border: 1px solid #afafaf;
  border-radius: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.villager-info-title {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  color: #816f59;
  font-size: 2.375rem;
  margin: 0.5rem 0;
}

.villager-info-text-box {
  background-color: #f8f2dd;
  border-radius: 0 0 15px 15px;
  height: 200px;
}

.villager-info-photo {
  border-radius: 5px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.25));
}

.less-margin {
  margin: 0.4rem 0;
}

.box {
  margin: 1.2rem 0;
}

.arrow {
  font-size: 1.75rem;
  color: #816f59a6;
}

#left-arrow,
.padding-left {
  padding-left: 0.5rem;
}

.blue,
.brown {
  font-size: 1.375rem;
  font-family: "Varela Round", sans-serif;
}

.blue {
  color: #2ab5cf;
}

.unliked-text {
  color: #575757;
  font-size: 1.5rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 2.5rem;
}

.favorite-image {
  width: 256px;
  height: 238px;
  object-fit: cover;
  border-radius: 5px;
  margin: 0 1.5rem 0 1rem;
}

#left-arrow:hover,
#right-arrow:hover,
#cancel:hover,
.pop-x:hover {
  color: #816f59;
}

#favorite-icon:hover {
  color: #2ab5cf;
}

.nav-home:hover,
.nav-icon:hover {
  color: #4dc3b9;
}

.hidden-text-box {
  display: none;
}

@media screen and (max-width: 523px) {
  .nav-home {
    display: none;
  }
}

.column-fifty,
.column-forty-five, {
  flex-basis: 100%;
}

.column-third {
  flex-basis: 100%;
}

@media screen and (min-width: 523px) {
  .villager-icon {
    width: 120px;
  }
}

@media screen and (min-width: 720px) {
  .pop-up-container {
    width: 216px;
    height: 186px;
    margin-bottom: 2rem;
  }

  .pop-vertical {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .pop-icon {
    margin-top: -1rem;
    width: 100px;
  }

  .pop-text {
    margin-top: -0.5rem;
  }

  .pop-x {
    float: left;
    padding-left: 0.5rem;
    font-size: 1.75rem;
  }

  .pop-home-icon {
    width: 85px;
    margin: 0 0 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .villager-icon {
    width: 120px;
  }

  .nav-container {
    max-width: 900px;
  }

  .villager-info {
    width: 650px;
    height: 598px;
  }

  .villager-info-text-box {
    height: 239px;
  }

  .less-margin {
    text-align: left;
    line-height: 2.1rem;
  }

  .column-one-third {
    flex-basis: 25%;
  }

  li > .column-one-third {
    flex-basis: 33%;
  }

  .column-fifty {
    flex-basis: 55%;
  }

  .column-forty-five {
    flex-basis: 45%;
  }

  .column-ten-twelfths {
    flex-basis: 85%;
  }

  #left-arrow,
  #right-arrow {
    display: none;
  }

  .hidden-text-box {
    display: block;
  }

  .padding-left {
    padding-left: 2rem;
  }

  .favorite-image {
    height: 256px;
  }

  .no-top-margin {
    margin: 0 0 1rem;
  }
}
